h1{
    color:rgb(248, 244, 244);
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

    body{
    background: url("https://static.vecteezy.com/system/resources/previews/008/920/047/large_2x/dark-blue-grungy-abstract-cement-concrete-wall-texture-background-photo.jpg");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*background: linear-gradient(to bottom, #ffffff, #ffe6e6); 
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    color: rgb(100,0,0);*/


    }

    .container {
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        gap: 20px;
    }

    .card{
        text-align: center;
        background: linear-gradient(to bottom right, #ffffff, #f3d6d6);
        box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
        border-radius: 16px;
        width:300px;
        padding:20px;

    }

    .card img{
        height: 200px;
        width: 100%;
        border-radius:12px;
        margin-bottom:10px;
        object-fit: cover;
    }

    .card h2{
        color:black;
    }

    .card p{
        font-size: 15px;
        color:#101010;

    }

    .card h3{
        color:#0d0d0d;
    }

    form{
      text-align: left;
      background:linear-gradient(to bottom right, #ffffff, #ffd6c9);
      box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
      border-radius: 16px;
      width:300px;
      padding:30px;
      margin: auto;

    }

    form label{
      display: block;
      font-weight: bold;
      color: rgb(10, 9, 9);
      margin-bottom: 10px;
    }

    form input,form button,form select{
      width:100%;
      height: 40px;
      padding: 10px;
      font-size: 16px;
      border-radius: 10px;
      box-sizing: border-box;
      border:1px solid #b85c5c;
      margin-bottom: 15px;
      color: #000;
      background:linear-gradient(to right, #ffffff, #ffecec);

    }

    form button{
      background:  linear-gradient(to right, orangered, #ff7043);
      color:white;
      font-weight: bold;
      font-size: 20px;
      cursor:pointer;
      margin: 20px auto 0 auto;
      border-radius: 12px;
      height:50px;
      display:block;
      align-self: center;

      
      

    }

    form button:hover{
      background: linear-gradient(to right, #ff8c42, darkorange);
    }

   
   #Orchid {
    display: none; 
    padding: 15px;
    border: 2px solid chocolate;
    border-radius: 16px;
    background:linear-gradient(to bottom right, #ffffff, #fce0cc);
    margin-top: 15px;
}

#celebration {
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border: 2px solid chocolate;
    border-radius: 10px;
    background: linear-gradient(to right, #ffffff, #ffe8d7);
    color: #000;
}

